.container {
    font-family: 'Coiny', cursive;
    font-size: 1.5em;
}

.all-dice,  {
    font-size: 4em;
}

.fas {
    font-size: 3em;
}

.dice-button, .throw-dice, .reset-button {
    border: none;
}

.dice-button:hover, .throw-dice:hover, .reset-button:hover {
    color: #86cfda;
}

