.container {
    font-family: 'Coiny', cursive;
    font-size: 1.5em;
}

table {
    border: 1px solid lightgrey;
}

.fas {
    font-size: 2em;
}

.score-box {
    height: 80px;
}
i.fa-arrow-alt-circle-down{
    font-size: 1.5em;
}

.dice-button, .throw-dice, .reset-button {
    border: none;
}

.dice-button:hover, .throw-dice:hover, .reset-button:hover {
    color: #86cfda;
}

.score-button {
    border: none;
}

@media screen and (min-width: 640px) {
    .dice-div, .throw-dice {
        font-size: 2em;
    }

    .yahtzee-title {
        font-size: 5em;
    }
}

@media screen and (max-width: 640px) {
    .yahtzee-title {
        font-size: 3em;
    }

    .throw-dice, .dice-div {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 420px) {
    .yahtzee-title {
        font-size: 2em;
    }

    .throw-dice, .dice-div {
        font-size: 1em;
    }
}