.container {
    font-family: 'Coiny', cursive;
    font-size: 1.5em;
}

.dice-div  {
    font-size: 2em;
}

.fas {
    font-size: 2em;
}

.dice-button, .throw-dice, .reset-button {
    border: none;
}

.dice-button:hover, .throw-dice:hover, .reset-button:hover {
    color: #86cfda;
}

.score-button {
    border: none;
}